<div *ngIf="movie" class="container">
  <h4>{{movie.attributes.title}}</h4>
  <br>
  <form [formGroup]="form">
    <img alt="poster" style="float:left;margin-right:20px;" [src]="movie.attributes.thumb" height="320">
    <div>
      <div style="margin-bottom:15px;" class="form-group row" *ngFor="let property of movie.attributes | keyvalue">
        <label class="col-sm-2 col-form-label">{{property.key}}:</label>
        <div class="col-sm-5">
          <input class="form-control" formControlName="{{property.key}}" id="title" [value]="property.value">
        </div>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-danger me-3" (click)="deleteMovie(movie)">Delete Movie</button>
    <button type="button" class="btn btn-primary" (click)="updateMovie(movie)">Update Movie</button>
  </form>
</div>
